<div class="input_field">
  <input type="text" name="name" id="name" placeholder="Seu nome" value="{{user.name}}">
  <div class="underline"></div>
</div>
<div class="input_field">
  <input type="text" name="username" id="username" placeholder="Nome de usuário" value="{{user.username}}">
  <div class="underline"></div>
</div>
<div class="input_field">
  <input type="password" name="password" id="password" placeholder="Senha" value="{{user.password}}">
  <div class="underline"></div>
</div>
<div class="input_field">
  <input type="email" name="email" id="email" placeholder="E-mail" value="{{user.email}}">
  <div class="underline"></div>
</div>