<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  {% block header %}
    <header class="header">
      <div></div>
      <nav>
        <a href="/user/entre" class="button" id="entre">Entrar</a>
        <a href="/user/create" class="button" id="create">Cadastrar-se</a>
      </nav>
    </header>
  {% endblock  %}
  {% block content %}
  <main class="index">
    <section class="user">
      {% for user in users %}
        <div class="index-user">
          <div>Nome: <span>{{user.name}}</span></div>
        </div>

        <section class="index-preview">
          <div id="items" >
            {% for image in images %}
              <div class="image" id="{{image.id}}">
                <img src="{{image.src}}" alt="{{image.title}}">
              </div>
            {% endfor %}
          </div>
        </section>
      {% endfor %}
    </section>
  </main>
  {% endblock  %}

  <script src="/script.js"></script>
</body>
</html>